<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoterVerse</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/snarkjs@0.2.12/build/snarkjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.0.32/dist/ethers.min.js"></script>
    <script src="{{ url_for('static', filename='js/generate_registration_proof.js') }}"></script>
</head>
<body class="flex flex-col min-h-[100dvh]">
    <header class="bg-gray-900 text-white px-4 lg:px-6 h-14 flex items-center">
        <a class="flex items-center justify-center" href="#">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-6 w-6"
            >
                <path d="m2 8 2 2-2 2 2 2-2 2"></path>
                <path d="m22 8-2 2 2 2-2 2 2 2"></path>
                <rect width="8" height="14" x="8" y="5" rx="1"></rect>
            </svg>
            <span class="sr-only">VoterVerse</span>
        </a>
        <nav class="ml-auto flex gap-4 sm:gap-6">
            <a class="text-sm font-medium hover:underline underline-offset-4" href="{{ url_for('main.register_voter') }}">
                Register
            </a>
            <a class="text-sm font-medium hover:underline underline-offset-4" href="{{ url_for('main.cast_vote') }}">
                Vote
            </a>
            <a class="text-sm font-medium hover:underline underline-offset-4" href="{{ url_for('main.results') }}">
                Results
            </a>
        </nav>
    </header>
    <main class="flex-1">
        {% block content %}{% endblock %}
    </main>
    <footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t bg-gray-900 text-white">
        <p class="text-xs">© 2024 VoterVerse. All rights reserved.</p>
        <nav class="sm:ml-auto flex gap-4 sm:gap-6"></nav>
    </footer>
</body>
</html>

